.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# yarn
.yarn


# python
__pycache__
.venv
.env
dist
build
layout
*.log

nyanga-linux
nyanga-windows

*test*
# *debug*