<script lang="ts">
	import { onDestroy, onMount } from 'svelte';
	import { _ } from 'svelte-i18n';

	export let inBookmark: boolean | null = false;
	export let link: string | null = null;
	export let lazy: boolean = false;

	let lazyLoadList: HTMLDivElement;

	const observer = new IntersectionObserver(
		(entries) => {
			const content = entries[0];

			if (content.isIntersecting) {
				lazyLoadList.classList.add('opacity-100');
				lazyLoadList.classList.remove('opacity-0');
			}

			if (!content.isIntersecting) {
				lazyLoadList.classList.add('opacity-0');
				lazyLoadList.classList.remove('opacity-100');
			}
		},
		{
			root: null,
			rootMargin: '0px',
			threshold: 0.2
		}
	);

	onMount(() => {
		if (lazy) {
			observer.observe(lazyLoadList);
		}
	});

	onDestroy(() => {
		if (lazy) {
			observer.unobserve(lazyLoadList);
		}
	});
</script>

<div
	bind:this={lazyLoadList}
	class="card my-5 mx-2 shadow relative transition-opacity duration-[1500ms]"
>
	{#if inBookmark == true}
		<div class="absolute z-40 top-10 w-full">
			<span class=" bg-pink-200 pl-5 py-2 pr-3 capitalize text-[14.2px]"
				>{$_('app.ribbon.inBookmark')}</span
			>
		</div>
	{/if}
	{#if link !== null}
		<a href={link}>
			<slot name="card-image" />
			<div class="card-title absolute bottom-0 bg-pink-200 w-full">
				<slot name="card-title" />
			</div>
		</a>
	{:else}
		<slot name="card-image" />
		<div class="card-title absolute bottom-0 bg-pink-200 w-full">
			<slot name="card-title" />
		</div>
	{/if}
</div>
