<script lang="ts">
	import { createEventDispatcher, onDestroy, onMount } from 'svelte';

	export let className: string | undefined = undefined;
	export let showImageThreshold: number = 0.2;
	export let gpuRender: boolean = false;
	export let cpuRender: boolean = false;
	export let reader: boolean = false;
	export let cover: boolean = false;
	export let src: string;
	export let alt: string;

	const dispatch = createEventDispatcher();

	let imgTag: HTMLImageElement;

	const observer = new IntersectionObserver(
		(entries) => {
			if (entries[0].isIntersecting) {
				imgTag.classList.add('show');
			}

			if (!entries[0].isIntersecting) {
				imgTag.classList.remove('show');
			}
		},
		{
			root: null,
			rootMargin: '20px 0px 0px 0px',
			threshold: showImageThreshold
		}
	);

	onMount(() => {
		observer.observe(imgTag);

		imgTag.onloadstart = () => {
			dispatch('loadstart');
		};

		imgTag.onload = () => {
			dispatch('loaded');
		};

		imgTag.onstalled = () => {
			dispatch('stalled');
		};

		imgTag.onerror = () => {
			dispatch('error');
		};

		imgTag.onsuspend = () => {
			dispatch('cancelled');
		};
	});

	onDestroy(() => {
		observer.unobserve(imgTag);
	});
</script>

<div class={reader || cover ? '' : 'w-full h-full transition-transform hover:scale-95'}>
	<img
		{src}
		{alt}
		class="{className} {gpuRender ? 'transform-gpu' : ''} {cpuRender ? 'transform-cpu' : ''} "
		bind:this={imgTag}
		loading="lazy"
	/>
</div>

<style lang="postcss">
	img {
		@apply opacity-0 transition-opacity w-full h-full object-cover rounded-t duration-[1500ms];
	}

	img.show {
		@apply opacity-100;
	}
</style>
