<script lang="ts">
	import { invalidateAll } from '$app/navigation';

	import { _ } from 'svelte-i18n';

	import dropdownStore from '$lib/store/dropdown/dropdown.store';
	import modalStore from '$lib/store/modal/modal.store';

	import DropdownComponent from '$lib/components/dropdown/DropdownComponent.svelte';

	import UserIcon from '$lib/components/icons/UserIcon.svelte';
	import InfoIcon from '$lib/components/icons/InfoIcon.svelte';
	import MagniglassIcon from '$lib/components/icons/MagniglassIcon.svelte';
	import NavbarIcon from '$lib/components/icons/NavbarIcon.svelte';
	import RefreshIcon from '$lib/components/icons/RefreshIcon.svelte';
	import SettingsIcon from '$lib/components/icons/SettingsIcon.svelte';
	import VerticalIcon from '$lib/components/icons/VerticalIcon.svelte';
	import accountStore from '$lib/store/ephemeral/account/account.store';
	import UserSolidIcon from '$lib/components/icons/UserSolidIcon.svelte';
	import CloudIcon from '$lib/components/icons/CloudIcon.svelte';
	import { createEventDispatcher } from 'svelte';

	// debug
	import mdxmangaStore from '$lib/store/ephemeral/mdxmanga/mdxmanga.store';

	const dispatch = createEventDispatcher();

	function sync() {
		dispatch('mdx-sync');
	}

	function dropdownClick(dropdown: string) {
		if ($dropdownStore.open) {
			$dropdownStore.dropdown = null;
			$dropdownStore.open = false;
		} else {
			$dropdownStore.dropdown = dropdown;
			$dropdownStore.open = true;
		}
	}

	function openModal(modal: string) {
		modalStore.set({ modal: modal, open: true });
	}
</script>

<nav
	class="navbar w-full bg-pink-300 flex flex-row items-center justify-between px-2 text-gray-900 fixed z-50"
	class:bg-pink-300={!$accountStore.logged_in}
	class:animated-background={$accountStore.logged_in}
	class:logged-in={$accountStore.logged_in}
>
	<div class="py-2 pl-2">
		<NavbarIcon width="w-[56px]" height="h-auto" />
	</div>
	<div class="pr-5">
		<div class="dropdown-wrapper relative">
			<button
				class="menu-dropdown px-5 py-2 rounded border border-transparent transition duration-150 ease-in-out hover:shadow hover:border-white/30"
				on:click={() => dropdownClick('app-menu')}
			>
				<VerticalIcon />
			</button>
			<DropdownComponent dropdown="app-menu" className="top-12 right-0">
				<ul>
					<li>
						<a
							href="/manga/search"
							on:click={() => {
								dropdownStore.set({ dropdown: null, open: false });
							}}
						>
							<MagniglassIcon width="w-5" height="w-5" />
							<span>{$_('app.menu.search')}</span>
						</a>
					</li>
					<li>
						<a
							href="#!"
							on:click|preventDefault={() => {
								dropdownStore.set({ dropdown: null, open: false });
								openModal('modal-settings');
							}}
						>
							<SettingsIcon width="w-5" height="w-5" />
							<span>{$_('app.menu.settings')}</span>
						</a>
					</li>

					<!-- login menu -->
					<li>
						<a
							href="/#!"
							on:click|preventDefault={async () => {
								dropdownStore.set({ dropdown: null, open: false });
								openModal('modal-account');
							}}
						>
							{#if $accountStore.logged_in}
								<UserSolidIcon width="w-5" height="w-5" />
							{/if}

							{#if !$accountStore.logged_in}
								<UserIcon width="w-5" height="w-5" />
							{/if}
							<span>{$_('app.menu.account')}</span>
						</a>
					</li>
					<!-- login menu -->

					<!-- sync from mangadex -->
					{#if $accountStore.logged_in}
						<li>
							<a href="/#!" on:click|preventDefault={sync}>
								<CloudIcon />
								<span>{$_('app.menu.syncmdx')}</span>
							</a>
						</li>
					{/if}

					<!-- sync from mangadex -->

					<li>
						<a
							href="/#!"
							on:click|preventDefault={async () => {
								dropdownStore.set({ dropdown: null, open: false });
								await invalidateAll();
							}}
						>
							<RefreshIcon width="w-5" height="w-5" />
							<span>{$_('app.menu.reload')}</span>
						</a>
					</li>

					<li>
						<a
							href="#!"
							on:click|preventDefault={() => {
								dropdownStore.set({ dropdown: null, open: false });
								openModal('modal-about');
							}}
						>
							<InfoIcon width="w-5" height="w-5" />
							<span>{$_('app.menu.about')} ✨</span>
						</a>
					</li>
				</ul>
			</DropdownComponent>
		</div>
	</div>
</nav>

<style lang="postcss">
	.logged-in {
		@apply bg-gradient-to-l from-pink-300 via-pink-500 to-pink-600;
	}

	.animated-background {
		background-size: 400%;

		-webkit-animation: animation 5s ease infinite;
		-moz-animation: animation 5s ease infinite;
		animation: animation 5s ease infinite;
	}

	@keyframes animation {
		0%,
		100% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}
	}

	ul {
		@apply divide-y;
	}

	ul li a {
		@apply w-full py-2 px-3 font-light capitalize flex items-center;
	}

	ul li a span {
		@apply pl-5;
	}
</style>
