<!doctype html>
<html lang="{{lang}}">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="%sveltekit.assets%/favicon.png" />
	<meta name="viewport" content="width=device-width" />
	%sveltekit.head%
</head>

<body data-sveltekit-preload-data="hover">
	<input type="hidden" value="{{token}}" class="pycsrf" />

	<div style="display: contents">%sveltekit.body%</div>
</body>

</html>